# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django specific
db.sqlite3
*.log
media/
staticfiles/

# IDE / Editor stuff
.vscode/
.idea/
*.swp
.DS_Store

# Environment / Secrets
.env
*.env
secrets.json
